body
{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

header
{
	font-size: 2em;
}

.game button
{
	margin: 1em;
	border: 3px solid black;
  	padding: 0.5em 1em;
  	cursor: pointer;
	width: 6em;
	height: 4em;
	background-color: white;
}

.game button:hover
{
	background-color: #f2f2f2;
}

.game
{
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 4em;
}

.game>div
{
	margin: 0 auto;
}

.modalBox
{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modalBox button
{
	margin: 1em;
	border: 3px solid black;
  	padding: 0.5em 1em;
  	cursor: pointer;
	background-color: white;
}

.modalContent
{
	margin: 4em auto;
	padding: 1em;
	width: 80%;
	background-color: white;
	border: 4px solid black;
}

.hidden
{
    display: none;
}

.nobutton
{
	border: none !important;
	pointer-events: none;
}

.green
{
	color: green;
}

.red
{
	color: red;
}